body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: url('https://walter.trakt.tv/images/people/000/222/590/headshots/thumb/5f5cf56685.jpg.webp');
  background-size: 200px 250px;


}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

marquee{
  font-size:30px;font-family: "Comic Sans MS";
  
  
  }
#yomama{
  font-size:25px;font-family: "Comic Sans MS";
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

  
  }
  
  #map {
  background: rgb(203,92,126);
background: linear-gradient(90deg, rgba(203,92,126,1) 0%, rgba(255,255,255,1) 54%, rgba(92,159,209,1) 100%);

  }
  
  #swaggg {
  
  }
  
  .nonClickingContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.catVideo {
  height: calc(100vh + 50px);
  width: 100%;
}
